
#top-NavBar{
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    font-size:X-Large;
    height: 4rem;
}

main{
    color:white;
}

#bg-video {
    margin-top: -2rem;
    filter: brightness(30%);
    width: 100%;
    height: 100%;
}

.background-text {
    font-size: 100%;
    font-weight: bolder;
    color: gray;
}  

.all-content-container{
    width: 80rem;
    margin-top: 5rem;
    margin-left: 7rem;
}

summary {    
    border-radius: 5px;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: #ddd;
    padding: 5px;
}

.search-bar {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 40px;
    width: 300px;
    border-radius: 15px;
    background-color: #f2f2f2;
    box-shadow: inset 0px 0px 5px #d9d9d9;
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 10px 50px 10px 20px;
    font-size: 16px;
    background-color: transparent;
}

.main-info-container {
    margin-top: 40rem;
}

.starter-text {
    font-weight: bolder;
    font-size: 250%;
    width: 100%;
    text-align: center;
    filter: brightness(1000%);

    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
}

nav ul li:hover {
    background: rgb(160, 158, 158);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn-get-stared{
    filter: brightness(200%);
    margin-top: 2rem;
    background-color: #313334;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.btn-get-stared:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.background-text-starter {
    filter: brightness(100%);
    color: rgb(178, 173, 173);
}

.info-container {
    width: 80rem;
    position: relative;
    bottom: 13rem;
    margin-left: 7rem;
}

.main-text {
    text-align: center; 
    position: relative; 
    bottom: 40rem;
}

.main-info {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 150%;
}

.link-info {  
    font-family:Arial, Helvetica, sans-serif;
    font-size: 150%;
    position: relative;
    left: 0.4rem;
    top: 0.2rem;
}

.get-started-link {
    color: black;
    text-decoration: none;
}

.get-started-link:hover {
    color: white;
}

#account-text {
    margin-top: 1.2rem;
    font-size: medium;
    font-weight: bolder;
    filter: brightness(1000%);
    margin-left: 50rem;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
}

#logout-icon {
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    padding: 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

#logout-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#logout-icon-picture {
    width: 50px;
    height: 34px;
    margin-bottom: 0.5rem;
}

.inline {
    display: inline;
}

#download-link {
    font-size: 150%;
}