.chatMessage{
    color: black;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

.userName{
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}
