body{
    padding: 5rem;
}

#top-NavBar{
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    font-size:X-Large;
}

main{
    color:white;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    max-height: 100rem;
    max-width: 100rem;
}

#btnGetStarted{
    display: flex;
    margin: 10rem;
    align-content: center;
}

.center{
    text-align: center;
    padding-top: 10rem;
}
