.background{
    background: black url("pictures/overlay_1.png");
    background-size: cover;
    height: 45rem;
    width: 95rem;
}
.message {
    position: absolute;
    z-index: 10;
    color: white;
    top: 50%;
    left: 50%;
    font-size: 4rem;
    transform: translate(-50%, -50%);
    text-align: center;
}
.ship {
    height: 10rem;
    width: 10rem;
    position: fixed;
    top: 30rem;
    left: 48rem;
    z-index: 100;
}
.rock {
    background: grey url("pictures/asteroid.png");
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 150;
}
#gameOverScreen{
    display: none;
}