main{
    background-color: black;
    min-height: 91vh;
}

#input{
    position: fixed;
    top:95%;
}

.chatMessage{
    color: black;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

.userName{
    color: black;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

#chat-container{
    overflow-y:scroll;
    height:800px;
}