body{
    padding: 5rem;
    padding-bottom: 0rem;
}

#top-NavBar{
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    font-size:X-Large;
    height: 4rem;
}

main{
    color:white;
}

#bg-video {
    filter: brightness(70%);
    position: fixed;
    top: 1rem;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    max-height: 100rem;
    max-width: 100rem;
}

#btnGetStarted{
    margin-top: 2rem;
    appearance: none;
    background-color: #212529;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
}

#btnGetStarted:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}
.center{
    text-align: center;
    padding-top: 10rem;
}

.center-container {
    text-align: center;

}

.background-text {
    font-size: 120%;
    font-weight: bolder;
    color: gray;
}  

.all-content-container{
    margin-left: 2rem;
}

summary {    
    border-radius: 5px;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: #ddd;
    padding: 5px;
}

.search-bar {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 40px;
    width: 300px;
    border-radius: 15px;
    background-color: #f2f2f2;
    box-shadow: inset 0px 0px 5px #d9d9d9;
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 10px 50px 10px 20px;
    font-size: 16px;
    background-color: transparent;
}