.chatMessage{
    color: black;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

.userName{
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

.faq-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.faq-container-style {
    border: 2px solid black;
    border-radius: 8px;
}

#new-question-button {
    border: transparent;
    padding: 0.5rem;
    margin-right: 2rem;
}

.thread-container {
    margin-left: 1rem;
}

.ctn-text {
    margin-top: 1rem;
}

.question-style {
    font-weight: bolder;
    font-size: 110%;
}

.creation-style {
    font-weight: 600;
    margin-top: -1rem;
    color: grey;
}

.author-style {
    float: right;
    margin-top: -3.2em;
    margin-right: 5rem;
}
.closed-style {
    float: right;
    margin-top: -3.2em;
    margin-right: 41.5rem;
}

#faq-display {
    display: block;
}

#thread-container {
    display: none;
}

#leave-thread  {
    margin-top: 0.5rem;
    float: right;
    padding: 0.5rem;
}

#faq-new-thread {
    height: 31rem;
    width: 100%;
    border: 2px solid black;
    display: none;
    border-radius: 8px;
}

#create-content {
    margin: 1rem;
}

#issue-input {
    width: 100%; /* Adjust the width as needed */
    height: 15rem; /* Adjust the height as needed */
    resize: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.comment {
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
}

.underline {
    margin-left: 1rem;
    width: 95%;
}

.author-info {
    font-size:  110%;
    margin: 1rem;
}

.author-name {
    font-weight: bolder;
}

.comment-text {
    margin-left: 1rem;
    font-size:  110%;
}

.thread:hover {
    background-color: lightgrey;
}

.comment:hover {
    background-color: lightgrey;
}

